body {
  background-color: #f5f7fb;
}

.navbar-brand {
  opacity: .6
}

.navbar-brand::before {
  content: "\003c";
  opacity: .4;
}

.navbar-brand::after {
  content: "\002f\003e";
  opacity: .4;
}

.jumbotron {
  background-color: #0087be; /*#fff;*/
}

.jumbotron .blockquote {
  color: #fff;
}

.jumbotron .blockquote-footer {
  color: #fff;
  opacity: .5;
}

.lead span {
  color: #3aad05;
}

h1 {
  color: #666;
}

.bg-blue {
  background-color: #0087be;
}

.post-meta {
  margin-top: 3rem;
  color: #6c757d;
}

.post-meta::before {
  content: "\2014 \00A0";
}

ul.list-special {
  list-style: none;
}

ul.list-special li:before {
  opacity: .3;
  display: inline-block;
  width: 1.5em;
  margin-left: -1.5em
}

ul.arrow-bullet li:before {
  content: "\279c";
}

footer.page-footer {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

footer.page-footer img {
  opacity: .125;
}